.light {
    --gray-1: #ffffff;
    --gray-2: #f3f6fb;
    --gray-3: #edf1f7;
    --gray-4: #e3e9f2;
    --gray-5: #dae1ed;
    --gray-6: #d0d9e8;
    --gray-7: #c1cddf;
    --gray-8: #a9bad2;
    --gray-9: #798aa3;
    --gray-10: #6d7e96;
    --gray-11: #57677e;
    --gray-12: #1c232f;
    --gray-alpha-0: rgba(255, 255, 255, 0);
    --gray-alpha-8: rgba(28, 35, 47, 0.08);
    --gray-alpha-72: rgba(28, 35, 47, 0.72);
    --white: #ffffff;
    --mystic-indigo-1: #fcfdff;
    --mystic-indigo-2: #f6f9ff;
    --mystic-indigo-3: #ebf2ff;
    --mystic-indigo-4: #dceaff;
    --mystic-indigo-5: #cbdfff;
    --mystic-indigo-6: #b8d1ff;
    --mystic-indigo-7: #9dbeff;
    --mystic-indigo-8: #7ca3ff;
    --mystic-indigo-9: #294bff;
    --mystic-indigo-10: #2443de;
    --mystic-indigo-11: #2b4fe9;
    --mystic-indigo-12: #162a6b;
    --mystic-indigo-alpha-12: rgba(41, 75, 255, 0.12);
}
.dark {
    --gray-1: #0f1114;
    --gray-2: #17191d;
    --gray-3: #1f242b;
    --gray-4: #252c36;
    --gray-5: #2d3540;
    --gray-6: #363f4c;
    --gray-7: #444e5d;
    --gray-8: #59677a;
    --gray-9: #798aa3;
    --gray-10: #6d7e96;
    --gray-11: #a6b7cf;
    --gray-12: #e4ecf8;
    --gray-alpha-0: rgba(15, 17, 20, 0);
    --gray-alpha-8: rgba(228, 236, 248, 0.08);
    --gray-alpha-72: rgba(31, 36, 43, 0.72);
    --white: #ffffff;
    --mystic-indigo-1: #0a1020;
    --mystic-indigo-2: #0f172b;
    --mystic-indigo-3: #112155;
    --mystic-indigo-4: #152973;
    --mystic-indigo-5: #1b3388;
    --mystic-indigo-6: #233e9a;
    --mystic-indigo-7: #2c4ab0;
    --mystic-indigo-8: #3356ce;
    --mystic-indigo-9: #294bff;
    --mystic-indigo-10: #2038ee;
    --mystic-indigo-11: #8fb3ff;
    --mystic-indigo-12: #d0e1ff;
    --mystic-indigo-alpha-12: rgba(41, 75, 255, 0.12);
}
