.light {
    --gray-1: #ffffff;
    --gray-2: #f3f6fb;
    --gray-3: #edf1f7;
    --gray-4: #e3e9f2;
    --gray-5: #dae1ed;
    --gray-6: #d0d9e8;
    --gray-7: #c1cddf;
    --gray-8: #a9bad2;
    --gray-9: #798aa3;
    --gray-10: #6d7e96;
    --gray-11: #57677e;
    --gray-12: #1c232f;
    --gray-1-rgb: 255 255 255;
    --gray-alpha-0: rgba(255, 255, 255, 0);
    --gray-alpha-8: rgba(28, 35, 47, 0.08);
    --gray-alpha-72: rgba(28, 35, 47, 0.72);
    --white: #ffffff;
    --mystic-indigo-1: #fcfdff;
    --mystic-indigo-2: #f6f9ff;
    --mystic-indigo-3: #ebf2ff;
    --mystic-indigo-4: #dceaff;
    --mystic-indigo-5: #cbdfff;
    --mystic-indigo-6: #b8d1ff;
    --mystic-indigo-7: #9dbeff;
    --mystic-indigo-8: #7ca3ff;
    --mystic-indigo-9: #294bff;
    --mystic-indigo-10: #2443de;
    --mystic-indigo-11: #2b4fe9;
    --mystic-indigo-12: #162a6b;
    --mystic-indigo-alpha-12: rgba(41, 75, 255, 0.12);
    --green-1: #fbfefc;
    --green-2: #f4fbf6;
    --green-3: #e6f6eb;
    --green-4: #d6f1df;
    --green-5: #c4e8d1;
    --green-6: #adddc0;
    --green-7: #8eceaa;
    --green-8: #5bb98b;
    --green-9: #30a46c;
    --green-10: #2b9a66;
    --green-11: #218358;
    --green-12: #193b2d;
    --indigo-1: #fdfdfe;
    --indigo-2: #f7f9ff;
    --indigo-3: #edf2fe;
    --indigo-4: #e1e9ff;
    --indigo-5: #d2deff;
    --indigo-6: #c1d0ff;
    --indigo-7: #abbdf9;
    --indigo-8: #8da4ef;
    --indigo-9: #3e63dd;
    --indigo-10: #3358d4;
    --indigo-11: #0d74ce;
    --indigo-12: #1f2d5c;
    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;
    --red-1: #fffcfc;
    --red-2: #fff7f7;
    --red-3: #feebec;
    --red-4: #ffdbdc;
    --red-5: #ffcdce;
    --red-6: #fdbdbe;
    --red-7: #f4a9aa;
    --red-8: #eb8e90;
    --red-9: #e5484d;
    --red-10: #dc3e42;
    --red-11: #ce2c31;
    --red-12: #641723;
}
.dark {
    --gray-1: #0f1114;
    --gray-2: #17191d;
    --gray-3: #1f242b;
    --gray-4: #252c36;
    --gray-5: #2d3540;
    --gray-6: #363f4c;
    --gray-7: #444e5d;
    --gray-8: #59677a;
    --gray-9: #798aa3;
    --gray-10: #6d7e96;
    --gray-11: #a6b7cf;
    --gray-12: #e4ecf8;
    --gray-1-rgb: 15, 17, 20;
    --gray-alpha-0: rgba(15, 17, 20, 0);
    --gray-alpha-8: rgba(228, 236, 248, 0.08);
    --gray-alpha-72: rgba(31, 36, 43, 0.72);
    --white: #ffffff;
    --mystic-indigo-1: #0a1020;
    --mystic-indigo-2: #0f172b;
    --mystic-indigo-3: #112155;
    --mystic-indigo-4: #152973;
    --mystic-indigo-5: #1b3388;
    --mystic-indigo-6: #233e9a;
    --mystic-indigo-7: #2c4ab0;
    --mystic-indigo-8: #3356ce;
    --mystic-indigo-9: #294bff;
    --mystic-indigo-10: #2038ee;
    --mystic-indigo-11: #8fb3ff;
    --mystic-indigo-12: #d0e1ff;
    --mystic-indigo-alpha-12: rgba(41, 75, 255, 0.12);
    --green-1: #0e1512;
    --green-2: #121b17;
    --green-3: #132d21;
    --green-4: #113b29;
    --green-5: #174933;
    --green-6: #20573e;
    --green-7: #28684a;
    --green-8: #2f7c57;
    --green-9: #30a46c;
    --green-10: #33b074;
    --green-11: #3dd68c;
    --green-12: #b1f1cb;
    --indigo-1: #11131f;
    --indigo-2: #141726;
    --indigo-3: #182449;
    --indigo-4: #1d2e62;
    --indigo-5: #253974;
    --indigo-6: #304384;
    --indigo-7: #3a4f97;
    --indigo-8: #435db1;
    --indigo-9: #3e63dd;
    --indigo-10: #5472e4;
    --indigo-11: #9eb1ff;
    --indigo-12: #d6e1ff;
    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;
    --red-1: #191111;
    --red-2: #201314;
    --red-3: #3b1219;
    --red-4: #500f1c;
    --red-5: #611623;
    --red-6: #72232d;
    --red-7: #8c333a;
    --red-8: #b54548;
    --red-9: #e5484d;
    --red-10: #ec5d5e;
    --red-11: #ff9592;
    --red-12: #ffd1d9;
}
