@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@config "../tailwind.config.ts";

/* @import url("./syntax.css");
@import url("./algolia.css");
@import url("./base.css");
@import url("./components.css"); */
@import "./moon-core.css";
@import "./moon-components.css";

@theme inline {
  --font-default: "DM Sans", sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
}

code {
  padding: 4px 8px
}